#root {
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  /* Enable Flexbox layout */
  flex-direction: row;
  /* Center horizontally */
  justify-content: left;
  /* Center horizontally */
  height: 100vh;
  font-family: 'Calibri';
}

.intro {
  margin-top: 3em;
}

p {
  font-family: 'Calibri Normal';
}

.h1 {
  padding: 0;
  margin: 0;

}

.parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: start;
}

.circle-image {
  width: 7em;
  /* Ensure the image fills the container */
  height: 7em;
  /* Maintain aspect ratio */
  border-radius: 50%;
  /* Create circular clipping mask */
  padding: 0;
  margin: 0;
}

.left {
  justify-self: start;
  align-self: start;
  justify-content: start;
  display: inline-block;
}

.left h1 {
  display: inline-block;
}

.right {
  justify-self: end;
  align-self: start;
  justify-content: end;
}

.footer {
  display: flex;
  font-size: 0.60em;
  margin-top: 10em;
}

@media screen and (max-width: 820px) {
  .parent {
    grid-template-columns: 1fr;
    /* Change to a single column layout */
  }

  .right {
    justify-self: start;
    align-self: start;
    justify-content: start;
  }
}

/* latin */
@font-face {
  font-family: 'Calibri';
  src: url('src/fonts/calibri-font-family/calibri-bold.ttf') format('truetype');
}

/* latin */
@font-face {
  font-family: 'Calibri Normal';
  src: url('src/fonts/calibri-font-family/calibri-regular.ttf') format('truetype');
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}